<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305735194145-sor3gn7jrmtd220u7vd5vv17t70us0ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305735194145-sor3gn7jrmtd220u7vd5vv17t70us0ke</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>305735194145-lrnoutkdv39ijh8jf9k7ljc4phl494gd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEeFA6UCQTD54I2iPv4L-MVr_8u7XOviQ</string>
	<key>GCM_SENDER_ID</key>
	<string>305735194145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.rnSignal</string>
	<key>PROJECT_ID</key>
	<string>rn-signal-cc7a3</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-signal-cc7a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305735194145:ios:66bb1c4b6fd2d73f997560</string>
</dict>
</plist>